<!doctype html>
<html>
  <head>
  </head>
  <body>
    {{image_names}}
    {% for image_name in image_names %}
    <img src="{{ url_for('static', filename=image_name)}}">
  
    {% endfor %}
    <!--
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script>
      var user_key = document.getElementById("user_key").innerHTML
      var user_input_dir = document.getElementById("user_input_dir").innerHTML
      user_input_dir = user_input_dir.trim()
      user_input_dir = user_input_dir.replace("//","/")
      function timer(){
        $.get('remove/' + user_key);
        $.get('removeInputDir' + user_input_dir);
      }
      setTimeout(timer,1500)
      clearTimeout(timer);
    </script>
    <-->
  </body>
</html>
