<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id = user_output_key style="visibility: hidden;">
      {{user_output_key}}
    </div>
    <div id = user_input_dir style="visibility: hidden;">
      {{user_input_dir}}
    </div>
    {% for image_name in image_names %}
    <img src="{{ url_for('static', filename=image_name)}}">
  
    {% endfor %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script>
      var user_output_key = document.getElementById("user_output_key").innerHTML
      var user_input_dir = document.getElementById("user_input_dir").innerHTML
      user_input_dir = user_input_dir.trim()
      user_input_dir = user_input_dir.replace("//","/")
      function timer(){
        $.get('remove/' + user_output_key);
        $.get('removeInputDir' + user_input_dir);
      }
      setTimeout(timer,5000)
      clearTimeout(timer);
    </script>
  </body>
</html>
