<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id=user_key>
      {{user_key}}
    </div>
    {% for image_name in image_names %}
    <img src="{{ url_for('static', filename=image_name)}}">
  
    {% endfor %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script>
      var user_key = document.getElementById("user_key").innerHTML
      function timer(){
        $.get('remove/' + user_key);
      }
      setTimeout(timer,5000)
      clearTimeout(timer);
    </script>
  </body>
</html>
